.produtos{
    border-color: black;
    border-style: solid;
    height: max-content;
    width: max-content;
    padding-bottom:20px;
    display: flex;
    flex-direction: row;
    h4{
        text-align: center;
    }

    .produto{
        border-style: solid;
        border-color: black;
        padding: 40px;
        .titulo{
            text-align: center;
        }

        figure{
            border-color: darksalmon;
            border-style: solid;
            height: 140px;
            width: 220px;
            background-size: cover;
            background-repeat: no-repeat;
            
        }
        figure:hover{
            transform: scale(1.3);
        }
        .seletores{
            display:flex;
            flex-direction:row;
            justify-content: space-between;
        }
        .pedido{
            height: 40px;
            background-color: darksalmon;
            color:white;
            font-weight:bolder;
            margin-top:20px;
            margin-left:60px
        }
        .opcao1{
            background-color: rgba(192, 106, 72, 0.832);
            text-align: center;
        }
        .opcao2{
            background-color: rgb(249, 192, 171);
            text-align: center;
        }

        #doces1{
            background-image: url('../imagens/bolosnopote.jpeg');
        }
        
        #doces2{
            background-image: url('../imagens/docinhosfesta.jpg');
        }
        
        #doces3{
            background-image: url('../imagens/trufas.jpeg');
        }
       
        
        #salgados2{
            background-image: url('../imagens/fotosalgadopadaria.jpeg');
        }
        #salgados3{
            background-image: url('../imagens/tortassalgadas.webp');
        }
        #salgados4{
            background-image: url('../imagens/esfirra.jpg')
        }
        #bebidas1{
            background-image: url('../imagens/receitas-de-sucos.webp');
        }
        #bebidas2{
            background-image: url('../imagens/images\ \(1\).jpeg');
        }
    }
}